.element {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 28%;
  border-radius: 50%;
  width: 33vh;
  height: 33vh;

  background-color: #212121;
  opacity: 0.7;
  border: 1px solid brown;
}

.portPic {
  width: 23vh;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 28%;
  border-radius: 45%;
}

.container {
  margin-top: 40vh;
  width: 90vw;
}
.brand-state,
.skillList {
  font-size: 3vh;
  color: rgb(214, 214, 214);
  font-family: "Oswald", sans-serif;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -4px -4px 14px rgb(26, 26, 26), 4px 4px 14px rgb(0, 0, 0);
  background-color: rgb(15, 15, 15);
}

.aboutSpan {
  font-size: 4vh;
  color: rgb(201, 145, 71);
  font-family: "Oswald", sans-serif;
  border-bottom: 3px solid rgb(26, 26, 26);
  background-color: rgb(15, 15, 15);
}
