.nameContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20vh;
  margin-left: 20px;
  max-height: 20%;
}
.subText {
  position: absolute;
  left: 55px;
}

.webText {
  font-family: "Oswald", sans-serif;
  font-size: 20vmin;
  margin: 10px;
  letter-spacing: 2.3vw;
  color: rgb(220, 220, 220);
}
.designText {
  font-size: 4vh;
  color: rgb(201, 145, 71);
  font-family: "Oswald", sans-serif;
  letter-spacing: 2.3vw;
}
.devText {
  font-size: 4vh;
  color: rgb(201, 145, 71);
  font-family: "Oswald", sans-serif;
  line-height: 10;
  letter-spacing: 2.3vw;
}
@media only screen and (max-width: 600px) {
  .devText {
    line-height: 14;
  }
}
@media only screen and (max-width: 375px) {
  .devText {
    line-height: 9;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .designText {
    margin-top: -20px;
  }
}

.homeIconList {
  justify-content: center;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .homeIconList {
    margin-top: 50px;
  }
}
