.nameContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20vh;
  margin-left: 20px;
  max-height: 90vh;
}
.subText {
  position: absolute;
  left: 55px;
}

.webText {
  font-family: "Oswald", sans-serif;
  font-size: 30vw;
  margin: 10px;
  letter-spacing: 4px;
  color: brown;
}
.designText {
  font-size: 5vw;
  color: rgb(201, 145, 71);
  font-family: "Oswald", sans-serif;
  letter-spacing: 4vw;
}
.devText {
  font-size: 5vw;
  color: rgb(201, 145, 71);
  font-family: "Oswald", sans-serif;
  line-height: 12.5;
  letter-spacing: 3.3vw;
}

.homeIconList {
  color: rgb(201, 145, 71);
  z-index: -2;
  position: relative;
  width: auto;
  bottom: 200px;
}
.GitHubIcon:hover,
.linkInIcon:hover,
.mailIcon:hover {
  cursor: pointer;
  color: brown;
  transform: scale(1.1);
}
