.contactContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 90vw;
  height: auto;
  background-color: rgb(15, 15, 15);
  color: rgb(214, 214, 214);
  font-family: "Oswald", sans-serif;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -4px -4px 14px rgb(26, 26, 26), 4px 4px 14px rgb(0, 0, 0);
}
.contactTextHead {
  font-size: 20vmin;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  color: rgb(251, 239, 239);
}
.homeIconList a {
  color: rgb(201, 145, 71);
  border: none;
}

.GitHubIcon,
.linkInIcon,
.mailIcon,
.resumeIcon,
.phoneIcon {
  color: rgb(116, 32, 32);
}
.GitHubIcon:hover,
.linkInIcon:hover,
.mailIcon:hover,
.resumeIcon:hover,
.phoneIcon:hover {
  cursor: pointer;
  color: rgb(201, 145, 71);
  transform: scale(1.2);
  transition: ease-in-out;
  transition-duration: 0.2s;
}
