.nav-link {
  color: red;
}

.nameContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
  background-color: rgb(15, 15, 15);
  box-shadow: -4px -4px 14px rgb(0, 0, 0), 4px 4px 14px rgb(31, 30, 30);
}

.firstName {
  color: red;
  font-size: 40px;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 1;
}
