.logo {
  position: absolute;
  left: 40px;
  color: rgb(201, 145, 71);
  font-size: 4vmin;
  margin: 15px;
  font-family: "Sacramento", cursive;
}

.nav-link {
  margin-left: -10px;
  margin-right: 0px;
  color: brown;
  font-family: "Oswald", sans-serif;
  font-size: 3vmin;
  position: sticky;
}
.nav-link:hover {
  color: rgb(201, 145, 71);
  transform: scale(1.08);
}

.card-body {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(15, 15, 15);
  color: white;
  font-family: "Oswald", sans-serif;
}
.card {
  border: 4px solid brown;

  border-radius: 25px;
  box-shadow: -4px -4px 14px rgb(34, 34, 34), 4px 4px 14px rgb(0, 0, 0);
  display: flex;
  margin: 20px auto;
  justify-content: center;
  text-align: center;
  max-height: 100vh;
}
.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#quoteDiv {
  border: 4px solid black;
}
.gitIcon,
.linkIcon {
  margin: 10px;
  color: rgb(201, 145, 71);
}
.gitIcon:hover,
.linkIcon:hover {
  transform: scale(1.07);
}
/* .container {
  max-width: 90vw;
  margin: 0 auto;
} */

.sectionTag {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-family: "Sacramento", cursive;
  font-size: 8vh;
}
