.nav-link {
  color: rgb(116, 3, 3);
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
}

.nameContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
  background-color: rgb(15, 15, 15);
  box-shadow: -4px -4px 14px rgb(0, 0, 0), 4px 4px 14px rgb(31, 30, 30);
}

.firstName {
  color: rgb(116, 4, 4);
  font-size: 40px;
}

.card-body {
  background-color: rgb(15, 15, 15);
  color: white;
  font-family: "Oswald", sans-serif;
}
.card {
  border: none;
  box-shadow: -4px -4px 14px rgb(55, 28, 28), 4px 4px 14px rgb(36, 11, 11);
}
